.movie-list{
    margin-top: 10px;
    flex-grow: 1;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #ecf0f1;
}
.movie-list-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap:10px;
    padding: 10px;
    flex-wrap: wrap;
}
.movie-list-info{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 100%;
    margin-right: 10px;
}
.movie-list-info-img{
    width: auto;
    height: 300px;
    border-radius: 20px;
}
.movie-list-info-upper{
    display: flex;
    flex-direction: row;
    width: 660px;
    margin: 0 20px 0px 20px;
    justify-content: space-between;
}
.movie-list-info-upper-title{
    font-family: 'Montserrat', sans-serif;
    color: #2C3E50;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}
.movie-list-info-upper-text{
    width: 380px;
    font-family: 'Montserrat', sans-serif;
    color: #2C3E50;
    font-weight: 500;
    text-align: justify;
    text-justify: inter-word;
}
.movie-list-info-upper-scores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: 18px;
    color: #ED4C67;
    margin-bottom: 10px;
}
.movie-list-info-lower{
    width: 660px;
    margin: 0 20px 0px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.movie-list-info-lower-column{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.movie-list-info-lower-element{
    height: 50px;
    color: #2C3E50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 10px 0px 10px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.movie-card{
    background-color: #ECF0F1;
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    position: relative;
    box-shadow:  20px 20px 60px #BDC3C7,
    -20px -20px 60px #ECF0F1;
    transition: background-color .3s;
}
.movie-card:hover{
    background-color: #ed4c6786;
    cursor: pointer;
}
.movie-card-poster{
    margin-top: 5px;
    width: 190px;
    height: 190px;
    border-radius: 20px 20px 0px 0px;
    opacity: 0.5;
}
.movie-card-poster-none{
    width: 190px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie-card-title{
    position: absolute;
    color: #2C3E50;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
    top: 80%;
    width: 190px;
}
.movie-card-accuracy{
    position: absolute;
    color: #2C3E50;
    top: 40%;
    left: 50%;
    font-size: 37px;
    font-weight: 700;
    transform: translate(-50%, -50%);
}