.home-container{
    width: 100vw;
    height: 100vh;
    background-color: #ecf0f1;
    min-width: 1300px;
    display: flex;
    flex-direction: column;
}
.home-bar{
    background-color: #ECF0F1;
    height: 50px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px 0px 0px 30px;
    color: #2C3E50;
    font-size: 22px;
    box-shadow:  20px 20px 60px #BDC3C7,
             -20px -20px 60px #ECF0F1;
            }
.home-bar-title{
    font-family: 'Montserrat', sans-serif;
    margin-left: 8px;
    margin-top: 3px;
    font-weight: 500;
}
.home-bar-refresh{
    margin-left: auto;
    margin-right: 20px;
}
.home-bar-refresh:hover{
    cursor: pointer;
}
.home-sliders-container{
    display: flex;
    flex-direction: row;
    margin-top:20px;
}
.home-sliders-info{
    padding: 15px 30px 15px 30px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    white-space: nowrap;
    font-weight: 500;
    min-width: 200px;
    border-radius: 30px;
    background-color: #1289A7;
}
.home-sliders-user{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.home-sliders{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5px;
    margin-top: 5px;
}
.home-sliders-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    color: #2C3E50;
    font-weight: 600;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    border-radius: 30px;
}
.home-sliders-one{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #2C3E50;
    font-weight: 500;
}
.home-init-container{
    margin-top: 10px;
    flex-grow: 1;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f1;
}
.home-init-button{
    width: 350px;
    height: 75px;
    background-color: #ED4C67;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #2C3E50;
    font-weight: 600;
    border-radius: 35px;
    font-size: 25px;
    box-shadow:  17px 17px 48px #a8a8a8,
    -17px -17px 48px #ffffff;
    transition: width .5s, height .5s, font-size .5s;
}
.home-init-button:hover{
    width: 380px;
    height: 90px;
    font-size: 28px;
    cursor: pointer;
}
.MuiSlider-markLabel{
    font-family: 'Montserrat', sans-serif !important;
    color: #2C3E50 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}
.MuiSlider-markLabelActive{
    font-size: 17px !important;
    font-weight: 700 !important;
}